.produto--preco{
    font-size: 1.6em;
    /* color:#111111; */
}
.produto--fornecedor{
    font-size: 0.8em;
    font-style: italic;
}
.produto--detalhes{
    text-align: justify;
    font-size:1.1em;
}

.produto--quantidade{
    font-size:1.1em;
}

.produto--estoque{
    text-align: justify;
    font-size:1.3em;
    font-weight: bold;
}
.produto--estoque.produto--estoque--sim{
    color:green;
    
}
.produto--estoque.produto--estoque--nao{
    color:red;
}