.produto--quantidade input {
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
img.produto--imagem{
    max-width: 125px;
    max-height: 125px;
}

 @media (min-width: 577px) { 
    .produto--quantidade input {
        width: 100%;
    }
 }
 @media (max-width: 576px) { 
    .produto--nome{
        font-size: 0.8em;
    }
    .produto--preco {
        font-size: 0.75em;
    }
    .produto--quantidade {
        font-size: 0.75em;
    }
    .produto--quantidade input {
        max-width: 50px ;
    }
    .produto--total {
        font-size: 0.75em;
    }
    .carrinho-total-sem-frete{
        font-size: 0.75em;
    }
 }