<div class="row" *ngIf="enderecosDoCliente.length > 0">
  <div class="col-12">
      <div class="card mt-3">
          <div class="card-header">
            <div class="row">
              <div class="col-12 col-sm-3">
                Endereço de Entrega
              </div>
              <div class="col-12 col-sm-4">
                <select class="form-control" [(ngModel)]="enderecoSelecionado" (ngModelChange)="onAlterouEnderecoDaEntrega($event)">
                  <option *ngFor="let endereco of enderecosDoCliente" [ngValue]="endereco">{{endereco.descricao}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div>{{enderecoSelecionado?.logradouro + ', ' + enderecoSelecionado?.numero + ' ' + (enderecoSelecionado?.complemento != null ? enderecoSelecionado?.complemento:'')}}</div>
            <div>{{enderecoSelecionado?.bairro + ' - ' + enderecoSelecionado?.cep}}</div>
            <div>{{enderecoSelecionado?.cidade + ' - ' + enderecoSelecionado?.uf}}</div>
          </div>
        </div>
      </div>
  </div>
   
<div class="row mt-3" >
  <div class="col-12">
      <h1>Produtos no Carrinho</h1>

      <div class="card produto--por--fornecedor mt-3" *ngFor="let fornecedor of itensPorFornecedor">
          <div class="card-header">
            <b>Fornecedor:</b> {{fornecedor.nome}}
      
          </div>
          <div class="card-body">
            <div class="row produto mt-4" *ngFor="let item of fornecedor.itens">
              <div class="col-2 d-none d-sm-block">
                <img [src]="item.imagemProduto" class="img-responsive produto--imagem" />
              </div>
              <div class="col-3 produto--nome ">
                <span>{{item.nomeProduto}}</span>
              </div>
              <div class="col-3 col-sm-2 col-md-1 produto--preco">
                <div><b>Preço</b></div>
                {{item.precoUnitario | currency:'R$ ':'symbol':'1.2-2'}}
              </div>
              <div class="col-3 col-sm-2 col-md-1 produto--quantidade">
                <div><b>Quantidade</b></div>
                <input type="number" class="produto--quantidade-input" [(ngModel)]="item.quantidade" />
              </div>
              <div class="col-3 col-sm-2 col-md-1 produto--total">
                <div><b>Total</b></div>
                {{item.quantidade * item.precoUnitario| currency:'R$ ':'symbol':'1.2-2' }}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="carrinho-total-sem-frete">
              <div class="row">
                  <div class="col-12 col-sm-4">
                     <b> Valor Total (sem frete) :</b> {{calculaValorTotalFornecedorSemFrete(fornecedor)| currency:'R$ ':'symbol':'1.2-2'}}
                  </div>
                  <div class="col-12 col-sm-4" *ngIf="estaAutenticado" >
                    <b>Frete : </b>
                    <span *ngIf="fornecedor.valorFrete == 0" >Frete Grátis</span>
                    <span *ngIf="fornecedor.valorFrete > 0" >{{fornecedor.valorFrete | currency:'R$ ':'symbol':'1.2-2'}}</span>
                  </div>
                  <div class="col-12 col-sm-4" *ngIf="estaAutenticado">
                      <b>Valor Total (com frete) :</b>  {{calculaValorTotalFornecedorComFrete(fornecedor)| currency:'R$ ':'symbol':'1.2-2'}}
                  </div>
              </div>  
            </div>
          </div>
        </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card text-white bg-dark">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-4">
            <span><b>Total da Compra:</b> {{calcularTotal()| currency:'R$ ':'symbol':'1.2-2'}}</span>
          </div>
          <div class="col-sm-2">
            <button (click)="checkout()" class="btn btn-sm btn-success">Confirmar o pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
