<nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/brand.png" height="60" width="78" />
  </a>


  <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link" href="#/carrinho-de-compra">Meu carrinho
          <b>{{ (itensNoCarrinho && itensNoCarrinho > 0) ? "(" + itensNoCarrinho + ")" : "" }}</b>
        </a>
      </li>
      <li class="nav-item" *ngIf="conta" >
            <a class="nav-link" href="#/historico-pedidos"> Meus pedidos</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto">
      <li class="nav-item " *ngIf="!conta">
        <span class="navbar-text">Olá, visitante</span>
        <a href="#/autenticar" class="navbar-nav">Autenticar-se</a>
      </li>
      <li class="nav-item" *ngIf="conta">
        <span class="navbar-text">Olá, {{conta?.nomeCompleto}}</span>
        <a href="#" class="navbar-nav" (click)="sair()">Sair</a>
      </li>
    </ul>
  </div>
</nav>